<!DOCTYPE html>
<html lang="">
<head>
  <style>
      body { font-family: Arial, sans-serif; }
      .header { text-align: center; font-size: 24px; margin-bottom: 20px; }
      .content { margin: 20px; }
      .footer { text-align: center; font-size: 12px; margin-top: 20px; }
      .column {
           border: 2px solid black;
           border-radius: 2px;
           background-color: #96D4D4;
       }
  </style>
  <title></title>
</head>
<body>
<div class="header">PDF Title</div>
<table>
  <tr class="column">
    <td>Product Id</td>
    <td>Product Type</td>
  </tr>
  <tr>
    <td>${id}</td>
    <td>${name}</td>
  </tr>
</table>
<div class="footer">Footer Text</div>
</body>
</html>